# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [11]:
import pandas as pd
import numpy as np

# Importar a biblioteca pandas para trabalhar com dados como tabela
# Criamos duas listas: "anos" e "anomalia", que representam os dados de anos e anomalias térmicas, respectivamente.
# serie = pd.Series(anomalia, index=anos) cria a série do Pandas, onde passamos a lista de anomalias térmicas como dados e os anos como índices.


anos = [1900,1920,1940,1960,1980,2000,2020]
anomalia = [-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02]

serie = pd.Series(anomalia)
print (serie)

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [12]:
# seu código aqui
serie = pd.Series(anomalia, index = anos)
print (serie)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [13]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
serie_dic = pd.Series(dic_temperaturas)
print(serie_dic)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [63]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
df = pd.DataFrame(arr)
display(df)

             0           1           2
0   101.763643  101.560405  102.590432
1    77.190422  106.296709  103.994206
2    80.481196   91.141671   92.210033
3    82.957744   99.190858   96.773752
4   100.130720   99.540511  100.933714
5   100.536941   91.955694  111.958813
6   106.702367  112.732087   96.676363
7   108.043105   98.317659  110.487256
8    93.009829  101.060804  102.040572
9    86.986418  106.587033  113.286977
10   89.325367   92.319339   94.337610
11   93.463141  113.070171  106.249487
12  101.553192   81.839632   99.591539
13  119.075537  114.064044  108.931102
14  103.348108  106.942730  104.683554
15  112.766580  116.821032   97.764761
16   97.082331   90.578570   95.901310
17   95.773873  111.091410  104.638028
18  120.720401   93.957194   79.924881
19  121.938191  117.304525   89.317836

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [64]:
#seu código aqui
df = df.rename(index=lambda x: x + 1, columns={0: "x1", 1: "x2", 2: "x3"})
display(df)

            x1          x2          x3
1   101.763643  101.560405  102.590432
2    77.190422  106.296709  103.994206
3    80.481196   91.141671   92.210033
4    82.957744   99.190858   96.773752
5   100.130720   99.540511  100.933714
6   100.536941   91.955694  111.958813
7   106.702367  112.732087   96.676363
8   108.043105   98.317659  110.487256
9    93.009829  101.060804  102.040572
10   86.986418  106.587033  113.286977
11   89.325367   92.319339   94.337610
12   93.463141  113.070171  106.249487
13  101.553192   81.839632   99.591539
14  119.075537  114.064044  108.931102
15  103.348108  106.942730  104.683554
16  112.766580  116.821032   97.764761
17   97.082331   90.578570   95.901310
18   95.773873  111.091410  104.638028
19  120.720401   93.957194   79.924881
20  121.938191  117.304525   89.317836

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [65]:
# seu código aqui
df['Media'] = df.mean(axis=1)
display(df)

            x1          x2          x3       Media
1   101.763643  101.560405  102.590432  101.971493
2    77.190422  106.296709  103.994206   95.827112
3    80.481196   91.141671   92.210033   87.944300
4    82.957744   99.190858   96.773752   92.974118
5   100.130720   99.540511  100.933714  100.201649
6   100.536941   91.955694  111.958813  101.483816
7   106.702367  112.732087   96.676363  105.370272
8   108.043105   98.317659  110.487256  105.616007
9    93.009829  101.060804  102.040572   98.703735
10   86.986418  106.587033  113.286977  102.286810
11   89.325367   92.319339   94.337610   91.994105
12   93.463141  113.070171  106.249487  104.260933
13  101.553192   81.839632   99.591539   94.328121
14  119.075537  114.064044  108.931102  114.023561
15  103.348108  106.942730  104.683554  104.991464
16  112.766580  116.821032   97.764761  109.117458
17   97.082331   90.578570   95.901310   94.520737
18   95.773873  111.091410  104.638028  103.834437
19  120.720401   93.957194   79.924881   98.200826
20  121.938191  117.304525   89.317836  109.520184

    #### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [67]:
# seu código aqui

df['log_med'] = np.log(df['Media'])
display(df)

            x1          x2          x3       Media   log_med
1   101.763643  101.560405  102.590432  101.971493  4.624693
2    77.190422  106.296709  103.994206   95.827112  4.562546
3    80.481196   91.141671   92.210033   87.944300  4.476704
4    82.957744   99.190858   96.773752   92.974118  4.532321
5   100.130720   99.540511  100.933714  100.201649  4.607185
6   100.536941   91.955694  111.958813  101.483816  4.619899
7   106.702367  112.732087   96.676363  105.370272  4.657481
8   108.043105   98.317659  110.487256  105.616007  4.659810
9    93.009829  101.060804  102.040572   98.703735  4.592123
10   86.986418  106.587033  113.286977  102.286810  4.627781
11   89.325367   92.319339   94.337610   91.994105  4.521725
12   93.463141  113.070171  106.249487  104.260933  4.646897
13  101.553192   81.839632   99.591539   94.328121  4.546779
14  119.075537  114.064044  108.931102  114.023561  4.736405
15  103.348108  106.942730  104.683554  104.991464  4.653879
16  112.766580  116.821032   97.764761  109.117458  4.692425
17   97.082331   90.578570   95.901310   94.520737  4.548819
18   95.773873  111.091410  104.638028  103.834437  4.642798
19  120.720401   93.957194   79.924881   98.200826  4.587015
20  121.938191  117.304525   89.317836  109.520184  4.696109